* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .btn {
    padding: 15px 25px;
    background-color: #0a775f;
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
  }
  
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 60px;
  }
  
  header {
    z-index: 9999;
    padding: 20px 0;
    background-color: #f3d7b7;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid gray;
  }
  
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .right ul {
    display: flex;
    gap: 30px;
    list-style: none;
  }
  
  ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: 700;
  }