/* Global styles  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;
}

.btn-1 {
  padding: 12px 20px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.btn-1:hover {
  background-color: rgb(51, 51, 51);
  cursor: pointer;
}

.btn-2 {
  padding: 15px 30px;
  background-color: #1aab7b;
  border-radius: 6px;
  color: white;
  border: 1px solid #1aab7b;
}

.btn-2:hover {
  background-color: transparent;
  border: 1px solid #1aab7b;
  color: #1aab7b;
  cursor: pointer;
}

/* Header styles  */

header {
  border-bottom: 1px solid gray;
  padding: 15px 0;
}

.header-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-left ul {
  display: flex;
  gap: 30px;
}

.header-left ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: black;
}

/* Hero section styles */

.hero {
  margin-top: 60px;
}

.hero-parent {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.hero-left h1 {
  font-size: 45px;
}

.hero-left p {
  margin-top: 20px;
  font-size: 18px;
  color: #636f87;
  line-height: 29px;
  margin-bottom: 30px;
}

iframe {
  border-radius: 10px;
}
/* how styles  */

.how-title{
  font-size: 36px;
  color: black;
  text-align: center;
  margin-bottom: 50px;
}
.how-card{
  background-color: #1aab7b;
  width: 384px;
  height: 358px;
  padding: 30px;
  border-radius: 20px;
}
.how-card h2 {
  margin-top: 20px;
  text-decoration: underline;
  color: white;
  
}
.how-card p {
  font-size: 20px;
  color: white;
}
.how-card h1 {
  color: white;
}
.how-card img {
  margin-left: 280px;
}
.how-cards {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}
.how-card-1{
  border: 1px solid black;
  width: 384px;
  height: 358px;
  padding: 30px;
  border-radius: 20px;
  
}
.how-card-1 h2 {
  margin-top: 20px;
  text-decoration: none;
  color: black;
}
.how-card-1 p {
  font-size: 20px;
  color: black
}
.how-card-1 img {
  margin-left: 280px;
}
